[project]
	description = VentureBox Application for venturerom
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chintan Shah (Chintan1998)
[access "refs/for/refs/*"]
	read = group user/Chintan Shah (Chintan1998)
	push = group user/Chintan Shah (Chintan1998)
	label-Code-Review = -2..+2 group user/Chintan Shah (Chintan1998)
	label-Verified = -1..+1 group user/Chintan Shah (Chintan1998)
	rebase = group user/Chintan Shah (Chintan1998)
	removeReviewer = group user/Chintan Shah (Chintan1998)
	submit = group user/Chintan Shah (Chintan1998)
[access "refs/heads/*"]
	read = group user/Chintan Shah (Chintan1998)
	create = group user/Chintan Shah (Chintan1998)
	push = +force group user/Chintan Shah (Chintan1998)
	pushMerge = group user/Chintan Shah (Chintan1998)
[access "refs/tags/*"]
	push = +force group user/Chintan Shah (Chintan1998)
	pushTag = group user/Chintan Shah (Chintan1998)
	pushSignedTag = group user/Chintan Shah (Chintan1998)
